<div class="text-center">
    <h1>Hi there! Welcome to my MailerSPA! </h1>
</div>
<div class="content-block-first">
    <div class="text-center" style="padding: 10px 0px;">
        <h5>
          if you are registered, you are able to get mails from an admins and editors
        </h5>
    </div>
      <div class="text-center">
        <%=image_tag "mail", class: "screen img-responsive", width:'700' %>
  </div>
</div>
<div class="content-block">
    <div class="text-center">
        <h3>Dashboard interface</h3>
        <h5>
            If you are logged as an admin or an editor, you are able to send mails to all registered users
        </h5>
    </div>
    <%=image_tag "admin-mailing1.png", class: "screen img-responsive",width:'700' %>
</div>
<div class="content-block">
    <div class="text-center" style="padding: 10px 0px;">
        <h5> If you are an admin, you are able to change users roles, and to delete users</h5>
    </div>
    <%=image_tag "users-list.png", class: "screen img-responsive",width:'700' %>
</div>
<div class="footer content-block-visible">
  <div class="text-center">
    <a href="https://github.com/Meditate" target="_top" class="btn btn-default">Follow my github</a>
  </div>
</div>